.parent {
    border : 1px solid black;
    height: 500px;
    width: 500px;

    display: flex;
    flex-direction:column;
    /* justify-content: center; */
    align-items: center;

}
.child {
    border : 1px solid black;
    height: 100px;
    width: 100px;
}
.red    {
    background-color: red;
}
.yellow    {
    background-color: yellow;
}
.green    {
    background-color: green;
}

